body{
  background-color: grey;
}

#teclado{
  margin: auto;
  padding: .25em;
  background-color: ghostwhite;
  border: 1px solid grey;
  border-radius: 1em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, .3);
}
.fila{
  display: flex;
  justify-content: center;
  align-items: center;
}
#fila0{
  padding: 0;
}
#fila1{
  padding: 0 2em;
}
#fila2{
  padding-left: 3em;
}
#fila3{
  padding-left: 6em;
}
#fila4{
  padding-left: 8em;
}
.tecla{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid grey;
  font-family: 'Courier New', Courier, monospace;
  margin: .3em;
  border-radius: .3em;
  text-align: center;
  font-size: 1.5em;
}
.tecla sub{
  font-size: .6em;
  vertical-align: sub;
  align-self: flex-end;
  margin-bottom: 1em;
  padding-left: .33em;
}
.tecla sup{
  position: absolute;
  top: .7em;
  font-size: .6em;
  vertical-align: super;
  align-self: flex-start;
  padding-left: .33em;
}
#fila4 .tecla{
  font-size: 1em;
  padding: .8em;
  margin: .4em;
  border-radius: .6em;
}
#space{
  width: 38em;
}
#shift{
  width: 5.5em;
}
.tecla_correcta{
  background-color: green;
}
.tecla_incorrecta{
  background-color: red;
}
#texto_escrito, #texto_escribir{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 96%;
  height: auto;
  min-height: 1.5em;
  padding: .6em;
  padding-left: 1em;
  margin: auto;
  margin-top: .6em;
  background-color: ghostwhite;
  border: 1px solid grey;
  border-radius: .5em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .3) inset;
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  word-wrap: break-word;
  word-break: break-all;
}
#texto_escribir{
  background-color: aliceblue;
  justify-content: center;
  padding-left: .6em;
}
#pulsaciones_minuto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  height: auto;
  min-height: 1.5em;
  padding: .6em;
  margin: auto;
  margin-top: .6em;
  background-color: aliceblue;
  border: 1px solid grey;
  border-radius: .5em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .3) inset;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-variant: small-caps;
  font-size: 1.2em;
}
#contiene_lienzo{
  margin: 1.5em auto;
  border: 1px solid grey;
  border-radius: 1em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .3) inset;
  background-color: aliceblue;
  text-align: center;
}
canvas{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  background-color: aliceblue;
  border-radius: 1em;

}